# Nochi Kernel Project GNU GRUB Boot Menu Config File
# boot/grub/grub.cfg

insmod vbe
insmod gfxterm
terminal_output gfxterm
set gfxmode=300x200x32

loadfont /boot/grub/fonts/unicode.pf2
set locale_dir=/boot/grub/locale
set lang=en_US

set timeout=-1
set default=0

menuentry "OS x86 Build" {
	echo "Loading OS x86 kernel..."
	multiboot2 /boot/oskernel
	boot
}

menuentry "GRUB Bash Test Program" {
	echo "Hello, what's your name? "
	read name
	echo ""
	echo "Hello, $name! "
	echo "(press any key to quit)"
	read
}

menuentry "Reboot" {
	echo "Are you sure to reboot?(Y/other): "
	read key
	if [ "$key" = "Y" ]; then
		reboot
	else
		echo "Cancelled"
		echo "(press any key to quit)"
		read
	fi
}

menuentry "Shutdown" {
	echo "Are you sure to shutdown?(Y/other): "
	read key
	if [ "$key" = "Y" ]; then
		halt
	else
		echo "Cancelled"
		echo "(press any key to quit)"
		read
	fi
}
